<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.pplo.sicauhelper" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".application.SicauHelperApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c94dbf4322e73b48ee49a4251006dcf" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5489169ffd98c52f6200082c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="null" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <provider
            android:name=".provider.SicauHelperProvider"
            android:authorities="cn.com.pplo.sicauhelper.provider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service
            android:name=".service.SaveIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".ui.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ScoreStatsActivity"
            android:label="@string/title_activity_score_stats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AddActivity"
            android:label="@string/title_activity_new_goods"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.GoodsActivity"
            android:label="@string/title_activity_goods"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SearchGoodsActivity"
            android:label="@string/title_activity_search_goods"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.GalleryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.StatusActivity"
            android:label="@string/title_activity_status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CommentActivity"
            android:label="@string/title_activity_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SearchStatusActivity"
            android:label="@string/title_activity_search_status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UserGoodsActivity"
            android:label="@string/title_activity_user_goods"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UserStatusActivity"
            android:label="@string/title_activity_user_status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CourseActivity"
            android:label="@string/title_activity_course"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ui.SelectCourseActivity"
            android:label="@string/title_activity_select_course" >
        </activity>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.CourseWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/course_widget_info" />
        </receiver>

        <service
            android:name=".service.CourseWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
    </application>

</manifest>
